@import "./variables";

@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap");

%flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
%main {
  @extend %flex;
  position: absolute;
  bottom: #{$footerHeight};
  height: 100%;
  width: 100vw;
  justify-content: flex-end;
}
%btn {
  border: none;
  cursor: pointer;
  outline: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  text-decoration: none;
}
html {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}
body {
  height: 100vh;
  margin: 0;
  width: 100%;
  min-height: 100%;
  min-height: 200px;
  font-family: "DotGothic16", Georgia, serif;
  background: $gradient;
}
.nav {
  @extend %flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  width: 100vw;
  height: #{$navHeight};
  padding: 5px;
  background: linear-gradient(to bottom, lighten($comicBackground, 20%), $comicBackground);
  box-shadow: 0px 5px 5px 2px $comicBackground;
  border-bottom: 1px solid $comicBackground;
  z-index: 999;
  &.mobile {
    display: none;
  }
  .btn {
    @extend %btn;
    color: $pixelatedBorder;
    font-weight: 1000;
    font-size: 1.2em;
    margin: 20px;
    height: 20px;
    .text {
      position: relative;
      top: -5px;
    }
    &.glide__bullet--active,
    &.selected {
      color: $pixelatedOuterBorder;
    }
  }
  .buttons {
    .btn-container.outer {
      margin: 0;
      .btn-container {
        margin-right: 20px;
        margin-left: 20px;
      }
    }
  }
  @media screen and (max-width: $tablet) {
    &.mobile {
      display: flex;
      border: 0;
    }
    &.desktop {
      flex-direction: column;
      top: #{$navHeight};
      height: calc(100vh - #{$navHeight});
      width: 100vw;
      background: linear-gradient(to bottom, lighten($comicBackground, 20%), $comicBackground);
      z-index: 999;
      padding-bottom: 20vw;
      &.hide {
        display: none;
      }
      .btn {
        margin: 5vh;
      }
    }
  }
}
.glide,
.glide__track,
.glide__slides {
  height: 100%;
}
.glide__slides {
  margin-top: 5px;
}
.carousel-slides {
  width: 100vw !important;
}
.main {
  height: calc(100vh - #{$footerHeight});
  opacity: 1;
  &.hide {
    opacity: 0;
  }
  .hero {
    @extend %main;
    .hero-container {
      overflow-y: scroll;
      scroll-snap-type: y proximity;
      margin-top: 20px;
      margin-bottom: 20px;
      &::-webkit-scrollbar {
        width: 0px;
      }
      .hero-elements {
        @extend %flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        padding-top: 40px;
        padding-bottom: 20px;
        scroll-snap-align: end;
        max-width: 70vw;
        max-height: calc(100vh - #{$navHeight});
        .bubble {
          text-align: left;
          transition: all 0.2s;
          max-height: 100vh;
          font-size: #{$font-size-big};
          .btn {
            @extend %btn;
            background: $pixelatedOuterBorder;
            font-family: "DotGothic16", Georgia, serif;
            font-size: #{$font-size-big - 0.1};
            font-weight: 1000;
            color: $pixelatedBackground;
          }

          @media screen and (max-width: $tablet) {
            // max-width: 50vw;
          }
        }
        .-right {
          background-color: $pixelatedColor;
          text-align: right;
        }
        .hide {
          max-height: 0;
          max-width: 0;
          font-size: 0;
          transition: all 0.3s;
          box-shadow: 0px 0px 0px 0px $comicBackground;
          background: transparent;
          padding: 0;
          margin: 0;
          &::after,
          &::before {
            width: 0;
            height: 0;
          }
        }
        .start {
          scroll-snap-align: start;
        }
      }
    }
    .form {
      @extend %flex;
      flex-direction: row;
      justify-content: space-around;
      padding-right: 15px;
      padding-left: 15px;
      max-width: 80vw;
      min-width: 40vw;
      @media screen and (max-width: $mobile) {
        padding-right: 5px;
        padding-left: 5px;
      }
      .text {
        max-width: 65vw;
        min-width: 30vw;
        margin-right: 10px;
        padding: 5px;
        outline: none;
        border: none;
        background: darken($pixelatedBackground, 5%);
        border-radius: 4px;
        height: 40px;
        max-height: 80px;
        color: ($pixelatedColor);
        font-size: #{$font-size-big};
        font-family: "DotGothic16", Georgia, serif;
        font-weight: 700;
        &::-webkit-scrollbar {
          width: 0px;
        }
      }
      .submit-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: 4px solid $pixelatedColor;
        border-radius: 100%;
        .submit {
          outline: none;
          border: none;
          color: $pixelatedColor;
          background-color: transparent;
          font-size: calc(#{$font-size-big} + 10px);
          font-weight: 800;
          padding: 0;
          padding-bottom: 2px;
          padding-left: 2px;
          cursor: pointer;
        }
      }
    }
  }
  .carousel-slides {
    @extend %flex;
    height: 100vh;
    .projects {
      @extend %flex;
      text-align: center;
      width: 80vw;
      max-width: 500px;
      max-height: calc(100vh - 170px) !important;
      @media screen and (max-width: 620px) {
      }
      .h1 {
        font-size: 1.4em;
        position: relative;
        padding: 10px;
        max-width: 500px;
        margin: 0;
        color: $pixelatedColor;
        color: $comicBackground;
      }
      .keen-slider {
        width: 70vw;
        max-width: 500px;
        height: 50vh;
        overflow: hidden;
      }
      // @extend %main;
      .project {
        @extend %flex;
        align-items: flex-end;
        height: 50vh;
        max-width: 500px;
        padding-right: 40px;
        padding-left: 40px;
        @media screen and (max-width: $tablet) {
          padding: 0;
        }
        .image-container {
          position: absolute;
          align-self: flex-start;
          max-width: 420px;
          overflow: hidden;
          cursor: pointer;
          .image-container:hover .filter {
            opacity: 0.1;
          }
          .filter:hover {
            opacity: 0;
          }
          .image,
          .filter {
            height: calc(50vh - 20px);
            z-index: 1;
          }
          .filter {
            max-width: 420px;
            position: absolute;
            top: 0;
            width: 100%;
            opacity: 0.5;
            background-color: $comicBackground;
          }
        }
        .title,
        .tech,
        .links {
          // @extend %flex;
          // flex-wrap: wrap;
          // flex-direction: row;
          max-width: 100%;
          margin: 0;
          text-align: right;
          z-index: 11;
          color: $pixelatedColor;
          background: $pixelatedBackground;
          padding: 10px;
          white-space: normal;
        }
        .tech,
        .links {
          padding-top: 0;
        }
        .title {
          font-size: 1.5em;
        }
        .tech {
          color: $pixelatedOuterBorder;
        }
        .links {
          position: relative;
          top: -1px;
          .icon {
            padding-left: 8px;
            cursor: pointer;
          }
        }
        .info {
          @extend %flex;
          align-items: flex-end;
          height: 100%;
          text-align: right;
          padding-left: 20%;
          z-index: 11;
          & * {
            z-index: 11;
            white-space: normal;
            max-width: 100%;
          }
          .content {
            color: $pixelatedBackground;
            background-color: $pixelatedColor;
            width: 100%;
            margin: 0;
            padding: 10px;
          }
        }
        @media screen and (max-width: $mobile) {
          & {
            padding: 0;
          }
          .content {
            background: #c776ecb6 !important;
            // margin-right: 35px !important;
            // max-width: 145px;
            // padding: 0 !important;
          }
          .filter {
            opacity: 0.4 !important;
          }
        }
        @media screen and (max-width: $tablet) {
          .image-container {
            align-self: center;
            .filter {
              opacity: 0.8;
            }
          }
          .info {
            padding: 0px;
            width: 100%;
          }
        }
      }
      .dots {
        text-align: center;
        .dot {
          background: transparent;
          @extend %btn;
          color: $comicBorder;
          &.active {
            color: $comicBackground;
          }
        }
      }
    }
  }
}
.contact {
  @extend %flex;
  max-width: 80vw;
  max-height: calc(100vh - #{$navHeight});
  padding: 20px;
  padding-top: 0;
  .input-container {
    @extend %flex;
    flex-direction: row;
    flex-wrap: wrap;
    .h1 {
      padding-right: 10px;
      color: $comicBackground;
    }
    .input,
    .textarea,
    .submit {
      background: transparent;
      outline: none;
      border: none;
      border-bottom: 1px solid $pixelatedOuterBorder;
      color: $comicBorder;
      &::placeholder {
        color: $pixelatedColor;
      }
    }
    .submit {
      cursor: pointer;
      font-weight: 1000;
      border-bottom: 3px solid $pixelatedOuterBorder;
      margin: 10px;
    }
  }
  @media screen and (max-width: $tablet) {
  }
  .form {
    @extend %flex;
  }
}
.glide__arrows {
  @extend %flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  height: 0;
  justify-content: space-between;
  top: calc(50vh);
  & * {
    margin: 0;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
    color: $comicColor;
  }
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: $footerHeight;
  text-align: center;
  color: $comicBackground;
  .icons {
    .icon {
      padding-right: 5px;
      padding-left: 5px;
      cursor: pointer;
    }
  }
}

.bubble {
  max-width: 80%;
  white-space: normal;
  word-break: break-word;
  position: relative;
  display: inline-block;
  margin: 10px 9px 29px 6px;
  text-align: right;
  align-self: flex-start;
  font-weight: 700;
  background-color: $comicBackground;
  color: $comicColor;
  padding: 5px;
  box-shadow: 0 -3px $comicBackground, 0 -6px $comicBorder, 3px 0 $comicBackground, 3px -3px $comicBorder,
    6px 0 $comicBorder, 0 3px $comicBackground, 0 6px $comicBorder, -3px 0 $comicBackground, -3px 3px $comicBorder,
    -6px 0 $comicBorder, -3px -3px $comicBorder, 3px 3px $comicBorder, 3px 9px $comicShadow, 6px 6px $comicShadow,
    9px 3px $comicShadow;
  transition: all 0.1s ease;
  box-sizing: border-box;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    transition: all 0.3s ease;
    box-sizing: border-box;
    left: 20%;
    transition: width 0.2s;
  }
  &::after {
    background: $comicBackground;
    width: 9px;
    height: 3px;
    bottom: -14px;
    margin-left: 6px;
    box-shadow: -3px 0 $comicBorder, 3px 0 $comicBorder, 3px 3px $comicBackground, 0px 3px $comicBorder,
      6px 3px $comicBorder, 9px 3px $comicShadow, 3px 6px $comicBorder, 6px 6px $comicBorder, 9px 6px $comicShadow,
      6px 9px $comicShadow;
  }
  &::before {
    width: 15px;
    height: 8px;
    background: $comicBackground;
    bottom: -11px;
    border-left: 3px solid $comicBorder;
    border-right: 3px solid $comicBorder;
  }
}
.bubble.-right {
  align-self: flex-end;
  box-shadow: 0 -3px $comicBackgroundRight, 0 -6px $comicBorderRight, 3px 0 $comicBackgroundRight,
    3px -3px $comicBorderRight, 6px 0 $comicBorderRight, 0 3px $comicBackgroundRight, 0 6px $comicBorderRight,
    -3px 0 $comicBackgroundRight, -3px 3px $comicBorderRight, -6px 0 $comicBorderRight, -3px -3px $comicBorderRight,
    3px 3px $comicBorderRight, 3px 9px $comicShadowRight, 6px 6px $comicShadowRight, 9px 3px $comicShadowRight;
  &::after,
  &::before {
    left: auto;
    right: 20%;
  }
  &::after {
    background: $comicBackgroundRight;
    margin-left: 0;
    margin-right: 6px;
    box-shadow: 3px 0 $comicBorderRight, -3px 0 $comicBorderRight, -3px 3px $comicBackgroundRight,
      0px 3px $comicBorderRight, -6px 3px $comicBorderRight, -3px 6px $comicBorderRight, -6px 6px $comicBorderRight,
      -3px 9px $comicShadowRight, 0 6px $comicShadowRight, 3px 3px $comicShadowRight, 6px 0px $comicShadowRight;
  }
  &::before {
    width: 15px;
    height: 8px;
    background: $comicBackgroundRight;
    bottom: -11px;
    border-left: 3px solid $comicBorderRight;
    border-right: 3px solid $comicBorderRight;
  }
}
.pixelated {
  background: $pixelatedBackground;
  box-shadow: 0 -6px 0 -2px $pixelatedBackground, 0 6px 0 -2px $pixelatedBackground, 0 -12px 0 -4px $pixelatedBackground,
    0 12px 0 -4px $pixelatedBackground, 0 -18px 0 -8px $pixelatedBackground, 0 18px 0 -8px $pixelatedBackground,
    0 -24px 0 -12px $pixelatedBackground, 0 24px 0 -12px $pixelatedBackground,
    /* Inner Border */ -2px 0 0 0 $pixelatedBorder, 2px 0 0 0 $pixelatedBorder, 0 -4px 0 0 $pixelatedBorder,
    0 4px 0 0 $pixelatedBorder, 0 -10px 0 -2px $pixelatedBorder, 0 10px 0 -2px $pixelatedBorder,
    0 -14px 0 -4px $pixelatedBorder, 0 14px 0 -4px $pixelatedBorder, 0 -20px 0 -8px $pixelatedBorder,
    0 20px 0 -8px $pixelatedBorder, 0 -26px 0 -12px $pixelatedBorder, 0 26px 0 -12px $pixelatedBorder,
    /* Middle Border -- Accent */ -4px 0 0 0 $pixelatedOuterBorder, 4px 0 0 0 $pixelatedOuterBorder,
    0 -2px 0 2px$pixelatedOuterBorder, 0 2px 0 2px$pixelatedOuterBorder, 0 -8px 0 0px$pixelatedOuterBorder,
    0 8px 0 0px$pixelatedOuterBorder, 0 -12px 0 -2px$pixelatedOuterBorder, 0 12px 0 -2px$pixelatedOuterBorder,
    0 -16px 0 -4px$pixelatedOuterBorder, 0 16px 0 -4px$pixelatedOuterBorder, 0 -22px 0 -8px$pixelatedOuterBorder,
    0 22px 0 -8px$pixelatedOuterBorder, 0 -28px 0 -12px$pixelatedOuterBorder, 0 28px 0 -12px$pixelatedOuterBorder,
    /* Outer Border */ -6px 0 0 0 $pixelatedShadow, 6px 0 0 0 $pixelatedShadow, 0 0 0 4px $pixelatedShadow,
    0 -6px 0 2px $pixelatedShadow, 0 6px 0 2px $pixelatedShadow, 0 -10px 0 0 $pixelatedShadow,
    0 10px 0 0 $pixelatedShadow, 0 -14px 0 -2px $pixelatedShadow, 0 14px 0 -2px $pixelatedShadow,
    0 -18px 0 -4px $pixelatedShadow, 0 18px 0 -4px $pixelatedShadow, 0 -24px 0 -8px $pixelatedShadow,
    0 24px 0 -8px $pixelatedShadow, 0 -30px 0 -12px $pixelatedShadow, 0 30px 0 -12px $pixelatedShadow;
  .btn {
    @extend %btn;
    padding: 0 20px 0px 20px;
    font-size: #{$font-size-big};
    color: $pixelatedColor;
    font-weight: 800;
    &.active {
      color: $pixelatedColorFocus;
    }
  }
}
