@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap");
.nav, .nav .links, .hero, .small-talk,
.contact, .contact .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  text-decoration: none;
}

body {
  height: 100vh;
  margin: 0;
  width: 100%;
  min-height: 100%;
  font-family: "DotGothic16", Georgia, serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8dd71), color-stop(#f8dd71), color-stop(#ff8f1f), to(#ff2978d8));
  background: linear-gradient(to bottom, #f8dd71, #f8dd71, #ff8f1f, #ff2978d8);
}

.nav {
  padding: 25px;
  padding: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#d066ff), to(#b000ff));
  background: linear-gradient(to bottom, #d066ff, #b000ff);
  -webkit-box-shadow: 0px 5px 5px 2px #b000ff;
          box-shadow: 0px 5px 5px 2px #b000ff;
}

.nav .btn-container {
  margin: 20px 25px 15px 15px;
  /* and that, will result in a 10px gap */
}

.nav .links {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav .links * {
  padding-right: 20px;
  padding-left: 20px;
}

.nav .links a {
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
}

.glide,
.glide__track,
.glide__slides {
  height: 100%;
}

.main {
  height: calc(100vh - 150px);
}

.hero {
  max-height: 80vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
}

.hero .small-talk {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 100vh;
  padding: 20px;
  margin-bottom: 50px;
}

.hero .small-talk .bubble {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  max-height: 100vh;
  max-width: 100vw;
  font-size: 1.17em;
}

.hero .small-talk .hide {
  max-height: 0;
  max-width: 0;
  font-size: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0px 0px 0px 0px #b000ff;
          box-shadow: 0px 0px 0px 0px #b000ff;
  background: transparent;
}

.hero .small-talk .hide::after, .hero .small-talk .hide::before {
  width: 0;
  height: 0;
}

.small-talk,
.contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid black;
}

.contact .form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.glide__bullets {
  display: none;
}

.bubble {
  max-width: 80%;
  white-space: normal;
  word-break: break-word;
  position: relative;
  display: inline-block;
  margin: 10px 9px 29px 6px;
  text-align: right;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-weight: 700;
  background-color: #b000ff;
  color: #f8dd71;
  padding: 5px;
  -webkit-box-shadow: 0 -3px #b000ff, 0 -6px #c700b5, 3px 0 #b000ff, 3px -3px #c700b5, 6px 0 #c700b5, 0 3px #b000ff, 0 6px #c700b5, -3px 0 #b000ff, -3px 3px #c700b5, -6px 0 #c700b5, -3px -3px #c700b5, 3px 3px #c700b5, 3px 9px #ff8f1f, 6px 6px #ff8f1f, 9px 3px #ff8f1f;
          box-shadow: 0 -3px #b000ff, 0 -6px #c700b5, 3px 0 #b000ff, 3px -3px #c700b5, 6px 0 #c700b5, 0 3px #b000ff, 0 6px #c700b5, -3px 0 #b000ff, -3px 3px #c700b5, -6px 0 #c700b5, -3px -3px #c700b5, 3px 3px #c700b5, 3px 9px #ff8f1f, 6px 6px #ff8f1f, 9px 3px #ff8f1f;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bubble::before, .bubble::after {
  content: "";
  display: block;
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: 20%;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

.bubble::after {
  background: #b000ff;
  width: 9px;
  height: 3px;
  bottom: -14px;
  margin-left: 6px;
  -webkit-box-shadow: -3px 0 #c700b5, 3px 0 #c700b5, 3px 3px #b000ff, 0px 3px #c700b5, 6px 3px #c700b5, 9px 3px #ff8f1f, 3px 6px #c700b5, 6px 6px #c700b5, 9px 6px #ff8f1f, 6px 9px #ff8f1f;
          box-shadow: -3px 0 #c700b5, 3px 0 #c700b5, 3px 3px #b000ff, 0px 3px #c700b5, 6px 3px #c700b5, 9px 3px #ff8f1f, 3px 6px #c700b5, 6px 6px #c700b5, 9px 6px #ff8f1f, 6px 9px #ff8f1f;
}

.bubble::before {
  width: 15px;
  height: 8px;
  background: #b000ff;
  bottom: -11px;
  border-left: 3px solid #c700b5;
  border-right: 3px solid #c700b5;
}

.bubble.-right {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.bubble.-right::after,
.bubble.-right::before {
  left: auto;
  right: 20%;
}

.bubble.-right::after {
  margin-left: 0;
  margin-right: 6px;
  -webkit-box-shadow: 3px 0 #c700b5, -3px 0 #c700b5, -3px 3px #b000ff, 0px 3px #c700b5, -6px 3px #c700b5, -3px 6px #c700b5, -6px 6px #c700b5, -3px 9px #ff8f1f, 0 6px #ff8f1f, 3px 3px #ff8f1f, 6px 0px #ff8f1f;
          box-shadow: 3px 0 #c700b5, -3px 0 #c700b5, -3px 3px #b000ff, 0px 3px #c700b5, -6px 3px #c700b5, -3px 6px #c700b5, -6px 6px #c700b5, -3px 9px #ff8f1f, 0 6px #ff8f1f, 3px 3px #ff8f1f, 6px 0px #ff8f1f;
}

.btn-container {
  padding: 0;
  background: #f8dd71;
  -webkit-box-shadow: 0 -6px 0 -2px #f8dd71, 0 6px 0 -2px #f8dd71, 0 -12px 0 -4px #f8dd71, 0 12px 0 -4px #f8dd71, 0 -18px 0 -8px #f8dd71, 0 18px 0 -8px #f8dd71, 0 -24px 0 -12px #f8dd71, 0 24px 0 -12px #f8dd71, -2px 0 0 0 #c700b5, 2px 0 0 0 #c700b5, 0 -4px 0 0 #c700b5, 0 4px 0 0 #c700b5, 0 -10px 0 -2px #c700b5, 0 10px 0 -2px #c700b5, 0 -14px 0 -4px #c700b5, 0 14px 0 -4px #c700b5, 0 -20px 0 -8px #c700b5, 0 20px 0 -8px #c700b5, 0 -26px 0 -12px #c700b5, 0 26px 0 -12px #c700b5, -4px 0 0 0 #ff2976, 4px 0 0 0 #ff2976, 0 -2px 0 2px #ff2976, 0 2px 0 2px #ff2976, 0 -8px 0 0px #ff2976, 0 8px 0 0px #ff2976, 0 -12px 0 -2px #ff2976, 0 12px 0 -2px #ff2976, 0 -16px 0 -4px #ff2976, 0 16px 0 -4px #ff2976, 0 -22px 0 -8px #ff2976, 0 22px 0 -8px #ff2976, 0 -28px 0 -12px #ff2976, 0 28px 0 -12px #ff2976, -6px 0 0 0 #ff8f1f, 6px 0 0 0 #ff8f1f, 0 0 0 4px #ff8f1f, 0 -6px 0 2px #ff8f1f, 0 6px 0 2px #ff8f1f, 0 -10px 0 0 #ff8f1f, 0 10px 0 0 #ff8f1f, 0 -14px 0 -2px #ff8f1f, 0 14px 0 -2px #ff8f1f, 0 -18px 0 -4px #ff8f1f, 0 18px 0 -4px #ff8f1f, 0 -24px 0 -8px #ff8f1f, 0 24px 0 -8px #ff8f1f, 0 -30px 0 -12px #ff8f1f, 0 30px 0 -12px #ff8f1f;
          box-shadow: 0 -6px 0 -2px #f8dd71, 0 6px 0 -2px #f8dd71, 0 -12px 0 -4px #f8dd71, 0 12px 0 -4px #f8dd71, 0 -18px 0 -8px #f8dd71, 0 18px 0 -8px #f8dd71, 0 -24px 0 -12px #f8dd71, 0 24px 0 -12px #f8dd71, -2px 0 0 0 #c700b5, 2px 0 0 0 #c700b5, 0 -4px 0 0 #c700b5, 0 4px 0 0 #c700b5, 0 -10px 0 -2px #c700b5, 0 10px 0 -2px #c700b5, 0 -14px 0 -4px #c700b5, 0 14px 0 -4px #c700b5, 0 -20px 0 -8px #c700b5, 0 20px 0 -8px #c700b5, 0 -26px 0 -12px #c700b5, 0 26px 0 -12px #c700b5, -4px 0 0 0 #ff2976, 4px 0 0 0 #ff2976, 0 -2px 0 2px #ff2976, 0 2px 0 2px #ff2976, 0 -8px 0 0px #ff2976, 0 8px 0 0px #ff2976, 0 -12px 0 -2px #ff2976, 0 12px 0 -2px #ff2976, 0 -16px 0 -4px #ff2976, 0 16px 0 -4px #ff2976, 0 -22px 0 -8px #ff2976, 0 22px 0 -8px #ff2976, 0 -28px 0 -12px #ff2976, 0 28px 0 -12px #ff2976, -6px 0 0 0 #ff8f1f, 6px 0 0 0 #ff8f1f, 0 0 0 4px #ff8f1f, 0 -6px 0 2px #ff8f1f, 0 6px 0 2px #ff8f1f, 0 -10px 0 0 #ff8f1f, 0 10px 0 0 #ff8f1f, 0 -14px 0 -2px #ff8f1f, 0 14px 0 -2px #ff8f1f, 0 -18px 0 -4px #ff8f1f, 0 18px 0 -4px #ff8f1f, 0 -24px 0 -8px #ff8f1f, 0 24px 0 -8px #ff8f1f, 0 -30px 0 -12px #ff8f1f, 0 30px 0 -12px #ff8f1f;
}

.btn-container .btn {
  border: none;
  background: transparent;
  padding: 0 20px 0px 20px;
  font-size: 20px;
  color: #c700b5;
  font-weight: 800;
  cursor: pointer;
  outline: none;
}

.btn-container .btn:focus, .btn-container .btn:hover {
  color: white;
}
/*# sourceMappingURL=global.css.map */