$lightViolet: rgb(255, 255, 255);
$gradient: linear-gradient(to right, #ff829f, #b337e4);
$pixelatedBackground: orange;
$pixelatedBorder: yellow;
$pixelatedAccent: white;
$pixelatedColor: rgb(211, 210, 223);
$pixelatedColorFocus: rgb(255, 255, 255);
