$lightViolet: rgb(255, 255, 255);
$gradient2: linear-gradient(to bottom, #ffe448, #f8dd71, #f5ad65, #fc679dd8);
$gradient: linear-gradient(to bottom, rgb(153, 118, 236), #9785fd, rgb(163, 113, 219), #fd85db);
$pixelatedBackground: #f8dd71;
$pixelatedOuterBorder: #ee6c9c;
$pixelatedBorder: #c776ec;
$pixelatedShadow: #f5ad65;
$pixelatedColor: #c776ec;
$pixelatedColorFocus: rgb(255, 255, 255);
$comicBackground: #aa3cdd;
$comicBorder: #ee6c9c;
$comicShadow: #f5ad65;
$comicColor: #f8dd71;
$comicBackgroundRight: #f8dd71;
$comicBorderRight: #f8dd71;
$comicShadowRight: #f8dd71;
$comicColorRight: #f8dd71;
$navHeight: 60px;
$footerHeight: 50px;
$tablet: 767px;
$mobile: 375px;
$font-size-big: 20px;
