$lightViolet: rgb(255, 255, 255);
$gradient: linear-gradient(to bottom, #f8dd71, #f8dd71, #ff8f1f, #ff2978d8);
$gradient2: linear-gradient(to bottom, #b000ff, #c700b5, #c700b5, #ff2976);
$pixelatedBackground: #f8dd71;
$pixelatedOuterBorder: #ff2976;
$pixelatedBorder: #c700b5;
$pixelatedShadow: #ff8f1f;
$pixelatedColor: #c700b5;
$pixelatedColorFocus: rgb(255, 255, 255);
$comicBackground: #b000ff;
$comicBorder: #c700b5;
$comicShadow: #ff8f1f;
$comicColor: #f8dd71;
$footerHeight: 150px;
